.scrolling-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  scroll-behavior: smooth;

  margin-top: 15px;
  margin-bottom: 45px;
}

.cardDiv {
  display: flex;
  margin-top: 15px;
}

.pickTitleDiv {
  display: flex;
}

.pickTitle {
  color: white;

  font-size: 28px;
}

.pickTitleDiv > .drama {
  background-color: #83c236;
}

.pickTitleDiv > .action {
  background-color: #2734c4;
}

.pickTitleDiv > .thriller {
  background-color: #a11629;
}

.pickTitleDiv > .romance  {
  background-color: #cf76c9;
}

.pickTitleDiv > .fantasy {
  background-color: #8727ba;
}

.pickTitleDiv > .comedy  {
  background-color: #359ACC;
}

.pickTitleDiv > .music  {
  background-color: #C7C22C;
}

.genreBox {
  height: 7px;
  margin: 8px 0 0 15px;
  padding: 10px 15px;
  border-radius: 5px;

  color: #d7d7d7;

  text-align: center;
  line-height: 7px;
}

.info {
  border-top: none;
  position: relative;
  height: 105px;
  width: 243.2px;
}

.info_title {
  color: #d7d7d7;
  margin: 3px 0;
  margin-left: 5px;
  font-size: 22px;
}

.info_year,
.info_rating_image,
.info_length {
  color: #d7d7d7;
  margin: 5px 0 0 5px;

  font-size: 13px;
  font-weight: 300;
}

.info_rating_image {
  width: 15px;
  height: 15px;
}

.info_rating_rating {
  margin-left: 4px;
  font-size: 15px;

  color: #d7d7d7;
}

.card {
  flex: 0 0 auto;
  width: 243.5px;
  margin-right: 20px;
}

.card_image {
  border-radius: 5px;
  height: 311.17px;
  width: 243.5px;
  margin: 0;
}
