@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

* {
  font-family: "roboto", "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic",
    sans-serif;
}

.footerWrapper {
  background-color: #ed1a37;
  /* background-color: #217747; */
  /* background-color: #94c93d; */
  opacity: 90%;
  width: 100vw;
  min-width: 1320px;
  height: fit-content;

  display: flex;

  justify-content: space-between;
}

.footer-content {
  padding: 70px;
}

.footer-info > p {
  color: #d7d7d7;
  margin-top: 5px;
}

.footer-icons {
  margin-top: 50px;
  margin-right: 50px;
}

.footer-icons > a > img {
  margin-right: 10px;
}
