.card {
  background-color: white;
  border-color: white;
  flex: 0 0 auto;
  width: 243.5px;
  margin-right: 20px;
}

.card_image {
  border-radius: 5px;
  height: 311.17px;
  width: 243.5px;
  margin: 0;
}